* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body app-root {
  height: 100vh;

  display: flex;

  flex-direction: column;

  > main {
    flex: 1 1 100%
  }
}